<h1> All countries </h1>

<% @countries.each do |country| %>
    <p><%country.name %></p>

<div class="card">
  <h5 class="card-header">
  <% unless country.date.nil? %>
        <%= country.date.strftime '%A; %B %e, %Y' %>
        <% end %>
  </h5>
  <div class="card-body">
    <h5 class="card-title">
    <%= link_to country.name, country %>
    </h5>

    <p class="card-text"><%= country.note %></p>
    <a href="#" class="btn btn-primary"><%= button_to "Start the journey", country %></a>
  </div>
</div>

<% end %>