
<h1> All cities </h1>

<% @cities.each do |city| %>
    <p><%city.name %></p>

<div class="card">
  <h5 class="card-header">
  <% unless city.date.nil? %>
        <%= city.date.strftime '%A; %B %e, %Y' %>
        <% end %>
  </h5>
  <div class="card-body">
    <h5 class="card-title">
    <%= link_to city.name, city %>
    </h5>
    <p class="card-text"><%= city.note %></p>
    <a href="#" class="btn btn-primary">Start the journey</a>
  </div>
</div>

<% end %>