<div class="cardbox">
<h1> All cities </h1>

<% @cities.each do |city| %>
    <p><%city.name %></p>

<div class="card">
  <h5 class="card-header">
  <% unless city.date.nil? %>
        <%= city.date.strftime '%A; %B %e, %Y' %>
        <% end %>
  </h5>
  <div class="card-body">
    <h5 class="card-title">
    <%= city.name %>
    </h5>
    <p class="card-text"><%= city.note %></p>
    <%= link_to "Start the journey", city_path(city), :class => "btn btn-primary" %>
  </div>
</div>

<% end %>
</div>